In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_excel('/users/acioli/documents/homes.xlsx')

In [3]:
df.head()

   area  banheiros  idade   preco
0  2600          3     20  550000
1  3000          4     15  565000
2  3200          2     18  610000
3  3600          3     30  595000
4  4000          5      8  760000

In [4]:
import math
media_banheiro = math.floor(df.banheiros.median())
media_banheiro

3

In [6]:
df.banheiros = df.banheiros.fillna(media_banheiro)

In [7]:
df

   area  banheiros  idade   preco
0  2600          3     20  550000
1  3000          4     15  565000
2  3200          2     18  610000
3  3600          3     30  595000
4  4000          5      8  760000

In [8]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'banheiros', 'idade']], df.preco)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [9]:
reg.coef_

array([  123.21862131, -6027.52850444, -5194.53238438])

In [10]:
reg.intercept_

326877.00840256095

In [11]:
reg.predict([[5000, 2, 2]])

array([920525.99319226])